<%- include('../includes/menu_header'); %>

<div class="page-content">

	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="operacional_title margin-l-5 margin-t-10">Operacional</div>

			<div class="card background-operacional margin-l-5">
				<div class="sinal_container">

					<div class="sinal_box">
						<div class=""> AUDUSD-CALL-10/12/2020 10:00:00-M5  						
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> AUDCAD-CALL-10/12/2020 10:00:00-M15   						
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> GBPCHF-PUT-10/12/2020 10:30:00-M5  					
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> AUDUSD-CALL-10/12/2020 10:30:00-M1  					
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> AUDUSD-PUT-10/12/2020 11:00:00-M5  					
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> EURUSD-CALL-10/12/2020 14:30:00-M15  					
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> USDCAD-PUT-10/12/2020 15:00:00-M30  					
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

					<div class="sinal_box">
						<div class=""> NZDUSD-PUT-10/12/2020 16:00:00-M5  					
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>

				</div>


				
			</div>


			<div class="card background-operacional margin-l-5 padding-0">

				<div class="row no-gutters">
					<div class="col-sm-10 margin-t-30 margin-b-30">
						<div class="exemplo-padrao-sinal">PADRÃO: PAR-DIREÇÃO-DATA E HORÁRIO-TEMPO GRÁFICO</div>				



						<div class="enviar_sinal_container margin-r-30 margin-l-30">
							<textarea class="form-control" placeholder="Insira aqui o Sinal ou Lista de sinais conforme padrão... AUDUSD-CALL-19:50:00-M5"></textarea>
						</div>

						<div class="color-blue-light text-center">Este é o Padrão do sinal Exemplo: AUDUSD-CALL-10/12/2020 19:50:00-M5</div>
					</div>

					<div class="offset-sm-1 col-sm-1">
						<button class="inserir_lista_sinal">Inserir</button>
					</div>

				</div>


			</div>

		</div>

		<div class="col-md-4">
			<div>Sinais</div>

			Sinais executados

			
		</div>



	</div>



</div>





