<nav class="menu_box_mobile">   
	<ul class="list-unstyled">
		<li class="<%= data[usuario.id + '_numero_menu'] == 1 ? 'active' : ''%>">
			<a class="ajax-load" href="/sistema"> <i class="fas fa-home"></i>Home </a>
		</li>

		<li class="<%= data[usuario.id + '_numero_menu'] == 2 ? 'active' : ''%>" >
			<a class="ajax-load" href="/sistema/operacional"> <i class="fas fa-cog"></i>Operacional </a>
		</li>

		<li class="<%= data[usuario.id + '_numero_menu'] == 3 ? 'active' : ''%>">
			<a class="ajax-load" href="/sistema/operadores"> <i class="fas fa-user"></i>Operadores Globais </a>
		</li>


		<% if(usuario.nivel == 2){%>


		<%}%>

		<li><a class="logout" href="/logout" onclick="return confirm('Você deseja sair?');"> <i class="icon-logout"></i>Sair </a></li>

	</ul>
</nav>