$primary-color:#423d64;
$secondary-color:#202738;


.login-page {

  .btn-primary{
    background: #423d64;
    border-color: #423d64;
    width: 100%!important;
    margin-top:10px;
    color: #fff;

    &:hover,&:active{
      background:#786dc3!important;
      border-color: #786dc3 !important;
      -webkit-box-shadow:none!important;
      box-shadow: none!important;
    }

    &:focus{
      -webkit-box-shadow:none;
      box-shadow: none;
    }


  }

  .resend-pass{
    background: #423d64;
    border-color: #423d64;
    color: #fff;

    &:hover,&:active{
      background:#786dc3!important;
      border-color: #786dc3 !important;
      -webkit-box-shadow:none!important;
      box-shadow: none!important;
    }

    &:focus{
      -webkit-box-shadow:none;
      box-shadow: none;
    }

  }

  .logo_title{
    color: #c1c1c1;
    margin-bottom: 75px;
    font-size: 25px;
  }

  .logo_title{
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    z-index: 2;
    font-weight: bold;
  }

  .checkbox-template:checked::before, .radio-template:checked::before{
    background:#423d64;
    border: none;
  }

  .btn_modal_close{
    background:#cacaca;
  }

  .form-holder .form form{
    max-width: inherit;
  }

}


.login-page::before{
  // background:linear-gradient(135deg, #000000 0%,#0b2258 100%);
  // background-image:url('/public/images/login_bacjground.jpeg');
  // background-size:cover;
  background:#aca9d2;
}

.login-page .form-holder .info {
  background: linear-gradient(135deg, #5f381b 0%,#da6600 100%);
  color: #fff;
}

.login-page .form-holder .form a.forgot-pass, .login-page .form-holder .form a.signup{
  color: #423d64;
  float: right;
  margin-bottom:10px;

  &:hover{
    color:#786dc3;
  }
}

.login-page input.input-material:focus {
  border-color: #423d64;
}

.login-page input.input-material ~ label.active{
  color: $primary-color;
}

.login-page input:not([type='checkbox']){
  border-color: #c3c3c3;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
}

.login-page .form-holder{
  border-radius: 0px 30px 0 30px;
}

.login-page .form-holder .form{
  min-height: 30vh;
  padding: 20px 40px 20px 40px;
}








.btn-primary{
  background: $primary-color;
  border-color: $primary-color;

  &:hover,&:active{
    background:#bd5900!important;
    border-color: #bd5900 !important;
    -webkit-box-shadow:0 0 0 0.2rem rgba(218,102,0,0.5)!important;
    box-shadow: 0 0 0 0.2rem rgba(218,102,0,0.5)!important;
  }

  &:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(218,102,0,0.5);
    box-shadow: 0 0 0 0.2rem rgba(218,102,0,0.5);
  }
}




@media (min-width: 769px){
  .container_login{
    max-width: 600px;
    min-height: 100vh;
    z-index: 1;
    padding: 20px;
    margin:0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }
}



.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle{
  background-color:#984800;
  border-color:#984800;
}





.login-page input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset!important;
  -webkit-text-fill-color: #8a8d93;
}

main{
  background: #604196 0% 0% no-repeat padding-box;
}


nav#sidebar{
  background: #303C48A3 0% 0% no-repeat padding-box;
  border-radius: 25px;
  position:relative;

  li.active>a{
    color: #A17CFF;
  }

}


nav#sidebar li.active i{
  color:#A17CFF;
}

nav#sidebar li a:hover i{
  color:#fff;
}



.card{
  border-radius: 30px;
  border-color:none;
  padding:30px;
}


.card-title{
  color: #1221D6;
  font-size:25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

.card-small{
  padding:15px;
}


.gradient-card-1{
  background: transparent linear-gradient(126deg, #FFFFFFE8 0%, #80808063 100%) 0% 0% no-repeat padding-box;
}

.gradient-card-2{
  background: transparent linear-gradient(232deg, #FFFFFFE8 0%, #80808063 100%) 0% 0% no-repeat padding-box;
}

.gradient-card-3{
  background: transparent linear-gradient(58deg, #FFFFFFE8 0%, #80808063 100%) 0% 0% no-repeat padding-box;
}

.gradient-card-4{
  background: transparent linear-gradient(6deg, #FFFFFFE8 0%, #80808063 100%) 0% 0% no-repeat padding-box;
}


.color-blue{
  color: #33558B;
}

.progress{
  background: #1221D6 0% 0% no-repeat padding-box;
  height: 20px;
  margin-top: 10px;
  border-radius: 8px;
}

.progress-bar{
  border-radius: 8px;
}

.progress_bar_sucess{
  background: #A5E50FC7 0% 0% no-repeat padding-box;
}

.operador_foto img{
  width: 100px;
}

.operador_performance_box{
  border-left: 1px solid #455dbf;
  margin-left: 5px;
}

.operador_performance_title{
  color:#1221D6;
  font-size:21px;
}


.conectar_box{
  background: #2F2E41 0% 0% no-repeat padding-box;
  border-radius: 16px;
  width: 95%;
  margin: 0 auto;
  padding: 10px 30px;
  text-align: justify;
}

.conectar_box input{
  border:0;
  background: #EBE8E8 0% 0% no-repeat padding-box;
  padding:5px;
}

.conectar_box input::placeholder{
  font-size:14px;
  text-align: center;
}

.conectar_box .btn-testar-conexao{
  background: #FFA726 0% 0% no-repeat padding-box;
  border-radius: 25px;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.licenca_restante_container{
  position:absolute;
  bottom:40px;
  width: 100%;
}

.licenca_restante_box{
  width: 90%;
  margin: 0 auto;
}

.licenca_restante_box .progress-bar{
  background:#894ad6;
}

.licenca_restante_box .progress{
  height: 10px;
  background:#6672fb;
  margin-bottom: 10px;
}


.btn_iniciar_sistema{
  background: #A5E50F 0% 0% no-repeat padding-box;
  border-radius:10px;
  width: 100%;
  height: 50px;
  font-size: 22px;
  color: #fff;

  &:focus{
    box-shadow:none;
  }
}



@media (max-width: 768px){
  .container_login {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .text-align-center-mobile{
    text-align:center;
  }

  .operador_performance_box{
    border-left:none;
    border-top:10px;
  }

}



.numero_operacoes_dashboard{
  font: normal normal 100 66px/76px Helvetica Neue;
  letter-spacing: 0px;
  color: #1221D6;
  text-align: center;
}

.label_numero_operacoes_dashboard{
  color: #33558B;
  text-align: right;
  margin-right: 40px;

}


.performance_dashboard{
  font: normal normal 100 66px/76px Helvetica Neue;
  letter-spacing: 0px;
  color: #1221D6;
  text-align: center;
}

.performance_box{
  border-left: 1px solid #455dbf;
}

.circle_performance{
  display: inline-block;
}


.color-secondary{
  color:#1221D6;
}


.table_noticias{
  width: 100%;
  margin-top: 20px;
}

.noticia_linha{
  border-top: 1px solid #455dbf;
}

.noticia_hora{
  width: 20%;
  padding:10px 0;
  font-size:18px;
}

.noticia_descricao{
  padding:10px 35px;
  width: 80%;
  font-size:18px;
}


.mensagem_box{
  background: #7986CB 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding:20px;
  color:#fff;
  margin-bottom:20px;
}

.mensagem_box .close{
  color: #fff;
  &:focus{
    outline: none;
  }
}


.background-operacional{
  background: #7e5fb4;
  opacity: 0.8;
  border:0;
}


.operacional_title{
  font: normal normal bold 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #E8E6F8;
  padding: 20px;
}


.sinal_container{
  margin:0 auto;
  width: 80%;
}


.sinal_box{
  background: #F2F7FA 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding:10px;
  color:#000;
  margin-bottom:20px;
}

.sinal_box .close{
  color:  #827ABD;
  opacity: 1;
  &:focus{
    outline: none;
  }
}




.exemplo-padrao-sinal{
  font: normal normal 600 15px/19px Montserrat;
  color: #F2F7FA;
  text-align: center;
}


.enviar_sinal_container{
  color:#fff;
}

.enviar_sinal_container textarea{
  border-radius: 30px;
  margin-top: 10px;
}

.enviar_sinal_container textarea:focus{
  border-color:#604196;
  box-shadow:none;
}

.enviar_sinal_container textarea::placeholder{
  color: #fff;
}

.color-blue-light{
  color: #8690FF;
}


.inserir_lista_sinal{
  background: #8E72F2;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  border: 0;
  color:#fff;

  &:hover{
    background:#785bde;
  }
}












.wrapper {
  width: 100px; /* Set the size of the progress bar */
  height: 100px;
  position: absolute; /* Enable clipping */
  clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
}
/* Set the sizes of the elements that make up the progress bar */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid #1221d6;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}
/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 3s; /* Wait half of the animation */
  -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.circle[data-anim~=left] {
  -webkit-animation-duration: 6s; /* Full animation time */
  -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
  -webkit-animation-duration: 3s; /* Half animation time */
  -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
  to {
    clip: rect(auto, auto, auto, auto);
  }
}











#Grupo_849 {
  width: 94px;
  height: 115px;
  overflow: visible;
  display: inline-block;
  position: relative;

  svg{
    position:absolute;
  }
}

#Grupo_849_2 {
  width: 94px;
  height: 115px;
  overflow: visible;
  display: inline-block;
  position: relative;

  svg{
    position:absolute;
  }
}

#Grupo_849_3 {
  width: 94px;
  height: 115px;
  overflow: visible;
  display: inline-block;
  position: relative;

  svg{
    position:absolute;
  }
}

#Grupo_850 {
  width: 94px;
  height: 85px;
  left: 416px;
  top: 151px;
  overflow: visible;
  display: inline-block;

  svg{
    position:absolute;
  }
}

#Retngulo_3 {
  fill: rgba(137,74,214,1);
}
.Retngulo_3 {
  overflow: visible;
  width: 6px;
  height: 115px;
  left: 0px;
  top: 0px;
}
#Retngulo_8 {
  fill: rgba(79,61,213,1);
}
.Retngulo_8 {
  overflow: visible;
  width: 6px;
  height: 99px;
  left: 55px;
  top: 16px;
}
#Retngulo_9 {
  fill: rgba(79,61,213,1);
}
.Retngulo_9 {
  overflow: visible;
  width: 6px;
  height: 37px;
  left: 66px;
  top: 78px;
}
#Retngulo_10 {
  fill: rgba(79,61,213,1);
}
.Retngulo_10 {
  overflow: visible;
  width: 6px;
  height: 65px;
  left: 77px;
  top: 50px;
}
#Retngulo_11 {
  fill: rgba(79,61,213,1);
}
.Retngulo_11 {
  overflow: visible;
  width: 6px;
  height: 81px;
  left: 88px;
  top: 34px;
}
#Retngulo_6 {
  fill: rgba(137,74,214,1);
}
.Retngulo_6 {
  overflow: visible;
  width: 6px;
  height: 103px;
  left: 22px;
  top: 12px;
}
#Retngulo_4 {
  fill: rgba(137,74,214,1);
}
.Retngulo_4 {
  overflow: visible;
  width: 6px;
  height: 83px;
  left: 11px;
  top: 32px;
}
#Retngulo_5 {
  fill: rgba(137,74,214,1);
}
.Retngulo_5 {
  overflow: visible;
  width: 6px;
  height: 83px;
  left: 33px;
  top: 32px;
}
#Retngulo_7 {
  fill: rgba(137,74,214,1);
}
.Retngulo_7 {
  overflow: visible;
  width: 6px;
  height: 63px;
  left: 44px;
  top: 52px;
}
#Grupo_850 {
  width: 94px;
  height: 85px;
  left: 416px;
  top: 151px;
  overflow: visible;
}
#Retngulo_3_dj {
  fill: rgba(137,74,214,1);
}
.Retngulo_3_dj {
  overflow: visible;
  width: 6px;
  height: 85px;
  left: 0px;
  top: 0px;
}
#Retngulo_8_dk {
  fill: rgba(79,61,213,1);
}
.Retngulo_8_dk {
  overflow: visible;
  width: 6px;
  height: 69px;
  left: 55px;
  top: 16px;
}
#Retngulo_9_dl {
  fill: rgba(79,61,213,1);
}
.Retngulo_9_dl {
  overflow: visible;
  width: 6px;
  height: 37px;
  left: 66px;
  top: 48px;
}
#Retngulo_10_dm {
  fill: rgba(79,61,213,1);
}
.Retngulo_10_dm {
  overflow: visible;
  width: 6px;
  height: 65px;
  left: 77px;
  top: 20px;
}
#Retngulo_11_dn {
  fill: rgba(79,61,213,1);
}
.Retngulo_11_dn {
  overflow: visible;
  width: 6px;
  height: 81px;
  left: 88px;
  top: 4px;
}
#Retngulo_6_do {
  fill: rgba(137,74,214,1);
}
.Retngulo_6_do {
  overflow: visible;
  width: 6px;
  height: 73px;
  left: 22px;
  top: 12px;
}
#Retngulo_4_dp {
  fill: rgba(137,74,214,1);
}
.Retngulo_4_dp {
  overflow: visible;
  width: 6px;
  height: 83px;
  left: 11px;
  top: 2px;
}
#Retngulo_5_dq {
  fill: rgba(137,74,214,1);
}
.Retngulo_5_dq {
  overflow: visible;
  width: 6px;
  height: 83px;
  left: 33px;
  top: 2px;
}
#Retngulo_7_dr {
  fill: rgba(137,74,214,1);
}
.Retngulo_7_dr {
  overflow: visible;
  width: 6px;
  height: 63px;
  left: 44px;
  top: 22px;
}

// #pie-chart {
//     position: absolute;
//     width: 42.574px;
//     height: 42.583px;
//     left: 653px;
//     top: 183px;
//     overflow: visible;
// }

.circle_pie{
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 80px;
  right: 49px;
  border-radius: 50%;
  background: rgba(79,61,213,1);
}

#Grupo_30 {
  position: absolute;
  width: 42.574px;
  height: 42.583px;
  left: 0px;
  top: 0px;
  overflow: visible;
  margin-top: 14px;
  margin-left: 18px;
}

.Caminho_56 {
  overflow: visible;
  position: absolute;
  width: 38.014px;
  height: 38.014px;
  left: 0px;
  top: 4.568px;
  transform: matrix(1,0,0,1,0,0);
}

#Caminho_56 {
  fill: rgba(255,255,255,1);
}

.Caminho_57 {
  overflow: visible;
  position: absolute;
  width: 20.214px;
  height: 20.214px;
  left: 22.36px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}

#Caminho_57 {
  fill: rgba(255,255,255,1);
}

.Elipse_18 {
  position: absolute;
  overflow: visible;
  width: 92px;
  height: 93px;
  left: 444px;
  top: 90px;
}

#Elipse_18 {
  opacity: 0.151;
  fill: transparent;
  stroke: rgba(18,33,214,1);
  stroke-width: 8px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}