<%if(usuario.nivel == 2){%>

<div class="white padding-5 margin-t-10">
	<div class="">Editar Usuário!</div>


	<form method="POST" action="/">
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" class="input-material" placeholder="E-mail" value="<%=data[usuario.id +'_usuario_editar'].email%>">									
		</div>

		<input type="hidden" name="id_usuario" value="<%= data[usuario.id +'_usuario_editar']._id %>">

		<input type="hidden" name="id_licenca" value="<%= data[usuario.id +'_usuario_editar_licenca']._id %>">


		<button class="btn btn-primary ajax-submit" data-href="/sistema/atualizar-usuario/" data-action="/sistema/">
			Salvar
		</button>
	</form>

</div>






<%}%>