<%- include('../includes/menu_header'); %>


<div class="page-content" style="padding-bottom:30px">

	<section class="margin-bottom-sm margin-top-sm">
		<div class="row">
			<div class="col-sm-12 col-md-5">
				<div class="card h-100 gradient-card-1">
					<div class="card-body">
						<div class="operacional_dashboard">
							<h5 class="card-title">Operacional</h5>
							<div class="red-text bold">Defina seu operacional e depois inicie o sistema!</div>

							<form>
								<div class="form-group">
									<div for="valor_entrada" class="white-text">Valor de Entrada</div>
									<input type="number" class="form-control" id="valor_entrada" name="valor_entrada" value="100">
								</div>
								<div class="form-group">
									<div for="valor_stop" class="white-text">Valor de Stop</div>
									<input type="number" class="form-control" id="valor_stop" name="valor_stop" value="200">
								</div>

								<div class="text-center white-text">Tipo de Conta</div>
								<div class="custom-control custom-switch text-center">
									<label>Real</label>
									<input type="checkbox" class="custom-control-input" id="customSwitch1">
									<label class="custom-control-label color-awaiting" for="customSwitch1">Treinamento</label>
								</div>


							</form>

						</div>
<!-- 						<div class="margin-t-20">
							<div id="Grupo_849">
								<svg class="Retngulo_3">
									<rect id="Retngulo_3" rx="3" ry="3" x="0" y="0" width="6" height="115">
									</rect>
								</svg>
								<svg class="Retngulo_8">
									<rect id="Retngulo_8" rx="3" ry="3" x="0" y="0" width="6" height="99">
									</rect>
								</svg>
								<svg class="Retngulo_9">
									<rect id="Retngulo_9" rx="3" ry="3" x="0" y="0" width="6" height="37">
									</rect>
								</svg>
								<svg class="Retngulo_10">
									<rect id="Retngulo_10" rx="3" ry="3" x="0" y="0" width="6" height="65">
									</rect>
								</svg>
								<svg class="Retngulo_11">
									<rect id="Retngulo_11" rx="3" ry="3" x="0" y="0" width="6" height="81">
									</rect>
								</svg>
								<svg class="Retngulo_6">
									<rect id="Retngulo_6" rx="3" ry="3" x="0" y="0" width="6" height="103">
									</rect>
								</svg>
								<svg class="Retngulo_4">
									<rect id="Retngulo_4" rx="3" ry="3" x="0" y="0" width="6" height="83">
									</rect>
								</svg>
								<svg class="Retngulo_5">
									<rect id="Retngulo_5" rx="3" ry="3" x="0" y="0" width="6" height="83">
									</rect>
								</svg>
								<svg class="Retngulo_7">
									<rect id="Retngulo_7" rx="3" ry="3" x="0" y="0" width="6" height="63">
									</rect>
								</svg>
							</div>

							<div id="Grupo_849_2">
								<svg class="Retngulo_3">
									<rect id="Retngulo_3" rx="3" ry="3" x="0" y="0" width="6" height="115">
									</rect>
								</svg>
								<svg class="Retngulo_8">
									<rect id="Retngulo_8" rx="3" ry="3" x="0" y="0" width="6" height="99">
									</rect>
								</svg>
								<svg class="Retngulo_9">
									<rect id="Retngulo_9" rx="3" ry="3" x="0" y="0" width="6" height="37">
									</rect>
								</svg>
								<svg class="Retngulo_10">
									<rect id="Retngulo_10" rx="3" ry="3" x="0" y="0" width="6" height="65">
									</rect>
								</svg>
								<svg class="Retngulo_11">
									<rect id="Retngulo_11" rx="3" ry="3" x="0" y="0" width="6" height="81">
									</rect>
								</svg>
								<svg class="Retngulo_6">
									<rect id="Retngulo_6" rx="3" ry="3" x="0" y="0" width="6" height="103">
									</rect>
								</svg>
								<svg class="Retngulo_4">
									<rect id="Retngulo_4" rx="3" ry="3" x="0" y="0" width="6" height="83">
									</rect>
								</svg>
								<svg class="Retngulo_5">
									<rect id="Retngulo_5" rx="3" ry="3" x="0" y="0" width="6" height="83">
									</rect>
								</svg>
								<svg class="Retngulo_7">
									<rect id="Retngulo_7" rx="3" ry="3" x="0" y="0" width="6" height="63">
									</rect>
								</svg>
							</div>

							<div id="Grupo_849_3">
								<svg class="Retngulo_3">
									<rect id="Retngulo_3" rx="3" ry="3" x="0" y="0" width="6" height="115">
									</rect>
								</svg>
								<svg class="Retngulo_8">
									<rect id="Retngulo_8" rx="3" ry="3" x="0" y="0" width="6" height="99">
									</rect>
								</svg>
								<svg class="Retngulo_9">
									<rect id="Retngulo_9" rx="3" ry="3" x="0" y="0" width="6" height="37">
									</rect>
								</svg>
								<svg class="Retngulo_10">
									<rect id="Retngulo_10" rx="3" ry="3" x="0" y="0" width="6" height="65">
									</rect>
								</svg>
								<svg class="Retngulo_11">
									<rect id="Retngulo_11" rx="3" ry="3" x="0" y="0" width="6" height="81">
									</rect>
								</svg>
								<svg class="Retngulo_6">
									<rect id="Retngulo_6" rx="3" ry="3" x="0" y="0" width="6" height="103">
									</rect>
								</svg>
								<svg class="Retngulo_4">
									<rect id="Retngulo_4" rx="3" ry="3" x="0" y="0" width="6" height="83">
									</rect>
								</svg>
								<svg class="Retngulo_5">
									<rect id="Retngulo_5" rx="3" ry="3" x="0" y="0" width="6" height="83">
									</rect>
								</svg>
								<svg class="Retngulo_7">
									<rect id="Retngulo_7" rx="3" ry="3" x="0" y="0" width="6" height="63">
									</rect>
								</svg>
							</div>

							<div class="circle_pie">
								<div id="pie-chart">
									<div id="Grupo_30">
										<svg class="Caminho_56" viewBox="0.05 51.1 38.014 38.014">
											<path id="Caminho_56" d="M 36.8573112487793 68.90020751953125 L 20.26406478881836 68.90020751953125 L 20.26406478881836 52.30694580078125 C 20.26406478881836 51.63642120361328 19.72764587402344 51.10000228881836 19.05712127685547 51.10000228881836 C 8.579059600830078 51.10000228881836 0.04998779296875 59.62908172607422 0.04998779296875 70.10715484619141 C 0.04998779296875 80.58522796630859 8.579058647155762 89.11430358886719 19.05712127685547 89.11430358886719 C 29.53518295288086 89.11430358886719 38.06425476074219 80.58522796630859 38.06425476074219 70.10715484619141 C 38.06425476074219 69.44557189941406 37.51889419555664 68.90020751953125 36.8573112487793 68.90020751953125 Z M 19.05712127685547 86.70040893554688 C 9.911167144775391 86.70040893554688 2.463875770568848 79.25311279296875 2.463875770568848 70.10715484619141 C 2.463875770568848 61.36350250244141 9.258523941040039 54.17547607421875 17.85017585754395 53.55859375 L 17.85017585754395 70.10715484619141 C 17.85017585754395 70.77767944335938 18.38659477233887 71.31410217285156 19.05712127685547 71.31410217285156 L 35.60566329956055 71.31410217285156 C 34.9887809753418 79.90575408935547 27.80076217651367 86.70040893554688 19.05712127685547 86.70040893554688 Z">
											</path>
										</svg>
										<svg class="Caminho_57" viewBox="250.15 0 20.214 20.214">
											<path id="Caminho_57" d="M 270.3640747070313 18.94454765319824 C 270.34619140625 14.33134078979492 268.6564636230469 9.887998580932617 265.6078186035156 6.428092002868652 C 261.9959411621094 2.342364311218262 256.810546875 -1.255408733413788e-06 251.35693359375 -1.255408733413788e-06 C 250.6864013671875 -1.255408733413788e-06 250.1499938964844 0.5364183187484741 250.1499938964844 1.206942677497864 L 250.1499938964844 19.00713157653809 C 250.1499938964844 19.67765617370605 250.6864013671875 20.21407508850098 251.35693359375 20.21407508850098 L 269.1571350097656 20.21407508850098 L 269.1571350097656 20.21407508850098 C 269.8276672363281 20.21407508850098 270.3640747070313 19.67765617370605 270.3640747070313 19.00713157653809 C 270.3640747070313 18.98925018310547 270.3640747070313 18.97136878967285 270.3640747070313 18.94454765319824 Z M 252.5638732910156 17.80912590026855 L 252.5638732910156 2.467528820037842 C 256.8731079101563 2.780440330505371 260.9141540527344 4.77413272857666 263.7929077148438 8.037351608276367 C 266.2068176269531 10.76415157318115 267.6372680664063 14.19723701477051 267.9054870605469 17.80912780761719 L 252.5638732910156 17.80912780761719 Z">
											</path>
										</svg>
									</div>
								</div>
							</div>
						</div> -->


					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-7">
				<div class="card h-100 gradient-card-2">
					<div class="card-body">
						<h5 class="card-title">Visão da Conta</h5>

						<div class="row margin-t-20 h70">
							<div class="col-sm-12 col-md-4">
								<div class="numero_operacoes_dashboard">24</div>
								<div class="label_numero_operacoes_dashboard">Operações</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="performance_box h100">
									<div class="performance_dashboard">80%

										<div class="circle_performance">
											<div class="wrapper" data-anim="base wrapper">
												<div class="circle" data-anim="base left"></div>
												<div class="circle" data-anim="base right"></div>
											</div>
										</div>
									</div>


									
								</div>

							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="no-padding-bottom">
		<div class="row">
			<div class="col-sm-12">

				<button type="button" class="btn btn-block btn_iniciar_sistema">Iniciar Sistema</button>

				<div class="block-body error-block" id="error_mensagem_conexao"></div>


			</div>
		</div>
	</section>


	<section class="no-padding-bottom margin-top-sm">
		<div class="row">

			<div class="col-sm-12">
				<div class="card h-100 gradient-card-3  margin-b-0">

					<h5 class="card-title">Notícias</h5>

					<div class="row no-gutters">
						<div class="color-secondary">Atualizado recentemente...</div>
						<div class="color-secondary w100">
							<table class="table_noticias">
								<tbody>
									<tr class="noticia_linha">
										<td class="noticia_hora">2 horas atrás</td>
										<td class="noticia_descricao">Ibovespa fecha acima de 110mil pontos e renova máxima de fevereiro...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>
									<tr class="noticia_linha">
										<td class="noticia_hora">3 horas atrás</td>
										<td class="noticia_descricao">S&P Global revisa perspectiva da BRF para positiva, mantém rating de BB...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>
									<tr class="noticia_linha">
										<td class="noticia_hora">3 horas atrás</td>
										<td class="noticia_descricao">FISD11, HGRE11, PBLV11: Confira as últimas novidades do setor, Ifix sobe...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>

									<tr class="noticia_linha">
										<td class="noticia_hora">4 horas atrás</td>
										<td class="noticia_descricao">Dólar cai para mínima de três meses; dados econômicos fracos não geram recuperação...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>

									<tr class="noticia_linha">
										<td class="noticia_hora">4 horas atrás</td>
										<td class="noticia_descricao">Se o país fizer besteira afunda de novo, diz Guedes....</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>
								</tbody>
							</table>

						</div>



					</div>
				</div>
			</div>


<!-- 			<div class="col-sm-12 col-md-5">
				<div class="card h-100 gradient-card-4 margin-b-0">

					<h5 class="card-title">Mensagens do Sistema</h5>

					<div class="color-blue margin-b-20 margin-t-20 text-center">Mensagens do sistema serão registradas abaixo.</div>

					<div class="mensagem_container">
						<div class="mensagem_box">
							<div class=""> Mensagem exemplo 1  						
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>

						<div class="mensagem_box">
							<div class=""> Mensagem exemplo 2  						
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>

						<div class="mensagem_box">
							<div class=""> Mensagem exemplo 3  						
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>


				</div>
			</div>
		-->
	</div>
</section>




</div>